/*#movies
{
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
}*/

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  #movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    
  }
  
  app-movie {
    display: block;
    width: 200px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s;
  }
  
  app-movie:hover {
    transform: translateY(-10px);
  }
  
  app-movie img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
  }
  
  app-movie h2 {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
    padding: 0 10px;
  }
  
