/*.movie
{
    margin: 5px;
    justify-content: space-between;
}*/

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .movie {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 20px;
  }
  
  .movie:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  }
  
  .movie img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
  }
  
  .movie h2 {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
    padding: 0 10px;
  }
  